@model ox.n.cock2.Models.Product

@{
    ViewBag.Title = "Product Details";
}

<div>
    <hr />
    <h5>Product</h5>
    <hr />

    <table class="table table-hover table-striped">
        <tr>
            <th>
                Category Name
            </th>
            <td>
                @Html.DisplayFor(model => model.ProductSubCategory.ProductCategory.CategoryName)
            </td>
        </tr>
        <tr>
            <th>
                Sub Category Name
            </th>
            <td>
                @Html.DisplayFor(model => model.ProductSubCategory.SubCategoryName)
            </td>
        </tr>
        <tr>
            <th>
                Classification Name
            </th>
            <td>
                @Html.DisplayFor(model => model.ProductClassification.ClassificationName)
            </td>
        </tr>
        <tr>
            <th>
                Product Details
            </th>
            <td>
                @Html.DisplayFor(model => model.ProductDetails)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <td>
                @Html.DisplayFor(model => model.Price)
            </td>
        </tr>
        <tr>
            <th>
                Discount Allowed
            </th>
            <td>
                @Html.DisplayFor(model => model.DiscountAllowed)
            </td>
        </tr>
        <tr>
            <th>
                Created By
            </th>
            <td>
                @Html.DisplayFor(model => model.AspNetUser.Email)
            </td>
        </tr>
        <tr>
            <th>
                Created Date
            </th>
            <td>
                @Html.DisplayFor(model => model.CreatedDate)
            </td>
        </tr>
        <tr>
            <th>
                Updated By
            </th>
            <td>
                @Html.DisplayFor(model => model.AspNetUser1.Email)
            </td>
        </tr>
        <tr>
            <th>
                Updated Date
            </th>
            <td>
                @Html.DisplayFor(model => model.UpdatedDate)
            </td>
        </tr>
    </table>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>